body{
        background-color: black;
        color: white;
    }

    li{
        font-size: 20px;
    }


    #html{
        color: orangered;
    }

    #css{
        color: rgb(87, 87, 255);
    }

    #java{
        color: yellow;
    }

    button{
        background-color: red;
        padding: 10px 20px;
        margin: 10px;
        border-radius: 10px;
        max-width: 100px;
    }

    span{
        font-size: 20px;
        color: white;
    }